:root {
  --color-pageBackground: #2a2e22;
  --color-pageText: #d8d2be;
  --color-pageTextSubdued: #8a8775;
  --color-pageTextPositive: #7fa062;
  --color-pageTextLink: #9fb85a;
  --color-tableBackground: #33382a;
  --color-tableText: #d8d2be;
  --color-tableBorder: #4a503d;
  --color-tableRowBackgroundHover: #434838;
  --color-buttonPrimaryBackground: #5a6e48;
  --color-buttonPrimaryText: #f2edd8;
  --color-buttonNormalBackground: #4a503d;
  --color-buttonNormalText: #d8d2be;
  --color-sidebarBackground: #1a1c14;
  --color-sidebarItemText: #b8b098;
  --color-sidebarItemTextSelected: #9fb85a;
}
