:root {
  --color-pageBackground: #1a1d15;
  --color-pageBackgroundModalActive: #15180f;
  --color-pageBackgroundTopLeft: #1a1d15;
  --color-pageBackgroundBottomRight: #12140f;
  --color-pageBackgroundLineTop: #3a4530;
  --color-pageBackgroundLineMid: #12140f;
  --color-pageBackgroundLineBottom: #d8d2b8;
  --color-pageText: #d8d2b8;
  --color-pageTextLight: #a8a088;
  --color-pageTextSubdued: #8a8775;
  --color-pageTextDark: #e8e4d0;
  --color-pageTextPositive: #7a9a5a;
  --color-pageTextLink: #8a9a68;
  --color-pageTextLinkLight: #a8b878;
  --color-cardBackground: #242820;
  --color-cardBorder: #3a4530;
  --color-cardShadow: #0a0c08;
  --color-tableBackground: #282d20;
  --color-tableRowBackgroundHover: #323828;
  --color-tableText: #d8d2b8;
  --color-tableTextLight: #d8d2b8;
  --color-tableTextSubdued: #8a8775;
  --color-tableTextSelected: #d8d2b8;
  --color-tableTextHover: #a8a088;
  --color-tableTextInactive: #8a8775;
  --color-tableHeaderText: #a8a088;
  --color-tableHeaderBackground: #222818;
  --color-tableBorder: #3a4030;
  --color-tableBorderSelected: #6a7858;
  --color-tableBorderHover: #5a6848;
  --color-tableBorderSeparator: #4a5540;
  --color-tableRowBackgroundHighlight: #2a3820;
  --color-tableRowBackgroundHighlightText: #d8d2b8;
  --color-tableRowHeaderBackground: #222818;
  --color-tableRowHeaderText: #d8d2b8;
  --color-numberPositive: #7a9a5a;
  --color-numberNegative: #9a7a6a;
  --color-numberNeutral: #8a8775;
  --color-budgetNumberNegative: #9a7a6a;
  --color-budgetNumberZero: #8a8775;
  --color-budgetNumberNeutral: #d8d2b8;
  --color-budgetNumberPositive: #d8d2b8;
  --color-templateNumberFunded: #7a9a5a;
  --color-templateNumberUnderFunded: #9a8a5a;
  --color-toBudgetPositive: #7a9a5a;
  --color-toBudgetZero: #7a9a5a;
  --color-toBudgetNegative: #9a7a6a;
  --color-sidebarBackground: #12140f;
  --color-sidebarItemBackgroundPending: #8a7a4a;
  --color-sidebarItemBackgroundPositive: #5a7a4a;
  --color-sidebarItemBackgroundFailed: #8a5a5a;
  --color-sidebarItemAccentSelected: #8a9a68;
  --color-sidebarItemBackgroundHover: #1a1d15;
  --color-sidebarItemText: #a8a088;
  --color-sidebarItemTextSelected: #8a9a68;
  --color-sidebarBudgetName: #8a8775;
  --color-menuBackground: #1a1d15;
  --color-menuItemBackground: #1a1d15;
  --color-menuItemBackgroundHover: #2a2d20;
  --color-menuItemText: #d8d2b8;
  --color-menuItemTextHover: #e8e4d0;
  --color-menuItemTextSelected: #8a9a68;
  --color-menuItemTextHeader: #a8b878;
  --color-menuBorder: #12140f;
  --color-menuBorderHover: #6a7858;
  --color-menuKeybindingText: #a8b878;
  --color-menuAutoCompleteBackground: #12140f;
  --color-menuAutoCompleteBackgroundHover: #2a2d20;
  --color-menuAutoCompleteText: #a8a088;
  --color-menuAutoCompleteTextHeader: #a8b878;
  --color-menuAutoCompleteItemText: #d8d2b8;
  --color-modalBackground: #1a1d15;
  --color-modalBorder: #3a4030;
  --color-mobileHeaderBackground: #2a3020;
  --color-mobileHeaderText: #d8d2b8;
  --color-mobileHeaderTextSubdued: #a8a088;
  --color-mobileHeaderTextHover: rgba(138, 154, 104, 0.15);
  --color-mobilePageBackground: #1a1d15;
  --color-mobileNavBackground: #12140f;
  --color-mobileNavItem: #a8a088;
  --color-mobileNavItemSelected: #8a9a68;
  --color-mobileAccountShadow: #0a0c08;
  --color-mobileAccountText: #4a5a3a;
  --color-mobileTransactionSelected: #6a7858;
  --color-mobileViewTheme: #2a3020;
  --color-mobileConfigServerViewTheme: #4a5a3a;
  --color-markdownNormal: #3a4530;
  --color-markdownDark: #4a5a3a;
  --color-markdownLight: #2a3020;
  --color-buttonMenuText: #a8a088;
  --color-buttonMenuTextHover: #a8a088;
  --color-buttonMenuBackground: transparent;
  --color-buttonMenuBackgroundHover: rgba(138, 154, 104, 0.25);
  --color-buttonMenuBorder: #4a5540;
  --color-buttonMenuSelectedText: #2a3820;
  --color-buttonMenuSelectedTextHover: #382a20;
  --color-buttonMenuSelectedBackground: #8a7a4a;
  --color-buttonMenuSelectedBackgroundHover: #9a8a5a;
  --color-buttonMenuSelectedBorder: #8a7a4a;
  --color-buttonPrimaryText: #f8f4e8;
  --color-buttonPrimaryTextHover: #f8f4e8;
  --color-buttonPrimaryBackground: #5a6e48;
  --color-buttonPrimaryBackgroundHover: #4a5e38;
  --color-buttonPrimaryBorder: #5a6e48;
  --color-buttonPrimaryShadow: rgba(0, 0, 0, 0.6);
  --color-buttonPrimaryDisabledText: #4a5540;
  --color-buttonPrimaryDisabledBackground: #2a2d20;
  --color-buttonPrimaryDisabledBorder: #2a2d20;
  --color-buttonNormalText: #d8d2b8;
  --color-buttonNormalTextHover: #d8d2b8;
  --color-buttonNormalBackground: #2a2d20;
  --color-buttonNormalBackgroundHover: #3a4030;
  --color-buttonNormalBorder: #4a5540;
  --color-buttonNormalShadow: rgba(0, 0, 0, 0.4);
  --color-buttonNormalSelectedText: #f8f4e8;
  --color-buttonNormalSelectedBackground: #4a5a3a;
  --color-buttonNormalDisabledText: #5a5a4a;
  --color-buttonNormalDisabledBackground: #2a2d20;
  --color-buttonNormalDisabledBorder: #3a4030;
  --color-calendarText: #e8e4d0;
  --color-calendarBackground: #12140f;
  --color-calendarItemText: #d8d2b8;
  --color-calendarItemBackground: #1a1d15;
  --color-calendarSelectedBackground: #4a5a3a;
  --color-buttonBareText: #d8d2b8;
  --color-buttonBareTextHover: #d8d2b8;
  --color-buttonBareBackground: transparent;
  --color-buttonBareBackgroundHover: rgba(138, 154, 104, 0.3);
  --color-buttonBareBackgroundActive: rgba(138, 154, 104, 0.5);
  --color-buttonBareDisabledText: #5a5a4a;
  --color-buttonBareDisabledBackground: transparent;
  --color-noticeBackground: #2a3a20;
  --color-noticeBackgroundLight: #1a2a10;
  --color-noticeBackgroundDark: #4a6a3a;
  --color-noticeText: #7a9a5a;
  --color-noticeTextLight: #5a7a3a;
  --color-noticeTextDark: #b8c8a8;
  --color-noticeTextMenu: #5a7a3a;
  --color-noticeBorder: #3a5a2a;
  --color-warningBackground: #3a3a20;
  --color-warningText: #9a8a5a;
  --color-warningTextLight: #7a6a3a;
  --color-warningTextDark: #c8b888;
  --color-warningBorder: #6a5a2a;
  --color-errorBackground: #3a2a2a;
  --color-errorText: #a87a7a;
  --color-errorTextDark: #c8a8a8;
  --color-errorTextDarker: #c8a8a8;
  --color-errorTextMenu: #a87a7a;
  --color-errorBorder: #6a4a4a;
  --color-upcomingBackground: #3a4530;
  --color-upcomingText: #b8c8a8;
  --color-upcomingBorder: #3a4030;
  --color-formLabelText: #a8b878;
  --color-formLabelBackground: #2a3820;
  --color-formInputBackground: #1a1d15;
  --color-formInputBackgroundSelected: #222818;
  --color-formInputBackgroundSelection: #6a7858;
  --color-formInputBorder: #3a4030;
  --color-formInputTextReadOnlySelection: #1a1d15;
  --color-formInputBorderSelected: #6a7858;
  --color-formInputText: #d8d2b8;
  --color-formInputTextSelected: #f8f4e8;
  --color-formInputTextPlaceholder: #8a8775;
  --color-formInputTextPlaceholderSelected: #a8a088;
  --color-formInputTextSelection: #1a1d15;
  --color-formInputShadowSelected: #8a9a68;
  --color-formInputTextHighlight: #8a9a68;
  --color-checkboxText: #d8d2b8;
  --color-checkboxBackgroundSelected: #6a7858;
  --color-checkboxBorderSelected: #6a7858;
  --color-checkboxShadowSelected: #4a5a3a;
  --color-checkboxToggleBackground: #3a4030;
  --color-checkboxToggleBackgroundSelected: #6a7858;
  --color-checkboxToggleDisabled: #4a4a3a;
  --color-pillBackground: #2a2d20;
  --color-pillBackgroundLight: #1a1d15;
  --color-pillText: #a8a088;
  --color-pillTextHighlighted: #a8b878;
  --color-pillBorder: #222818;
  --color-pillBorderDark: #222818;
  --color-pillBackgroundSelected: #4a5a3a;
  --color-pillTextSelected: #d8d2b8;
  --color-pillBorderSelected: #6a7858;
  --color-pillTextSubdued: #8a8775;
  --color-reportsRed: #8a6a6a;
  --color-reportsBlue: #6a7a8a;
  --color-reportsGreen: #7a9a5a;
  --color-reportsGray: #6a6a5a;
  --color-reportsLabel: #d8d2b8;
  --color-reportsInnerLabel: #2a2d20;
  --color-reportsNumberPositive: #7a9a5a;
  --color-reportsNumberNegative: #9a7a6a;
  --color-reportsNumberNeutral: #8a8775;
  --color-reportsChartFill: #7a9a5a;
  --color-noteTagBackground: #3a4530;
  --color-noteTagBackgroundHover: #4a5a3a;
  --color-noteTagDefault: #3a4530;
  --color-noteTagText: #b8c8a8;
  --color-budgetOtherMonth: #12140f;
  --color-budgetCurrentMonth: #282d20;
  --color-budgetHeaderOtherMonth: #1a1d15;
  --color-budgetHeaderCurrentMonth: #222818;
  --color-floatingActionBarBackground: #2a3020;
  --color-floatingActionBarBorder: #2a3020;
  --color-floatingActionBarText: #d8d2b8;
  --color-tooltipText: #d8d2b8;
  --color-tooltipBackground: #1a1d15;
  --color-tooltipBorder: #222818;
  --color-calendarCellBackground: #12140f;
  --color-overlayBackground: rgba(0, 0, 0, 0.3);
}
