:root {
  --color-pageBackground: #e8e4d4;
  --color-pageBackgroundModalActive: #f0ece0;
  --color-pageBackgroundTopLeft: #e8e4d4;
  --color-pageBackgroundBottomRight: #d8d4c4;
  --color-pageBackgroundLineTop: #6a8a48;
  --color-pageBackgroundLineMid: #d8d4c4;
  --color-pageBackgroundLineBottom: #3a3a2c;
  --color-pageText: #3a3a2c;
  --color-pageTextLight: #5a5a4a;
  --color-pageTextSubdued: #6a6858;
  --color-pageTextDark: #2a2a20;
  --color-pageTextPositive: #4a7a38;
  --color-pageTextLink: #5a7a3a;
  --color-pageTextLinkLight: #6a8a48;
  --color-cardBackground: #f4f0e4;
  --color-cardBorder: #6a8a48;
  --color-cardShadow: #b8b4a4;
  --color-tableBackground: #f4f0e4;
  --color-tableRowBackgroundHover: #e8e4d4;
  --color-tableText: #3a3a2c;
  --color-tableTextLight: #3a3a2c;
  --color-tableTextSubdued: #6a6858;
  --color-tableTextSelected: #3a3a2c;
  --color-tableTextHover: #5a5a4a;
  --color-tableTextInactive: #8a8878;
  --color-tableHeaderText: #5a5a4a;
  --color-tableHeaderBackground: #e8e4d4;
  --color-tableBorder: #c8c4b4;
  --color-tableBorderSelected: #6a8a48;
  --color-tableBorderHover: #7a9a58;
  --color-tableBorderSeparator: #a8a494;
  --color-tableRowBackgroundHighlight: #d8e8c8;
  --color-tableRowBackgroundHighlightText: #3a3a2c;
  --color-tableRowHeaderBackground: #e8e4d4;
  --color-tableRowHeaderText: #3a3a2c;
  --color-numberPositive: #4a7a38;
  --color-numberNegative: #8a4a3a;
  --color-numberNeutral: #6a6858;
  --color-budgetNumberNegative: #8a4a3a;
  --color-budgetNumberZero: #6a6858;
  --color-budgetNumberNeutral: #3a3a2c;
  --color-budgetNumberPositive: #3a3a2c;
  --color-templateNumberFunded: #4a7a38;
  --color-templateNumberUnderFunded: #8a7a3a;
  --color-toBudgetPositive: #4a7a38;
  --color-toBudgetZero: #4a7a38;
  --color-toBudgetNegative: #8a4a3a;
  --color-sidebarBackground: #8a8878;
  --color-sidebarItemBackgroundPending: #d8c87a;
  --color-sidebarItemBackgroundPositive: #8ab86a;
  --color-sidebarItemBackgroundFailed: #c87a7a;
  --color-sidebarItemAccentSelected: #6a8a48;
  --color-sidebarItemBackgroundHover: #7a7868;
  --color-sidebarItemText: #f4f0e4;
  --color-sidebarItemTextSelected: #d8e8a8;
  --color-sidebarBudgetName: #d8d4c4;
  --color-menuBackground: #f4f0e4;
  --color-menuItemBackground: #f4f0e4;
  --color-menuItemBackgroundHover: #e8e4d4;
  --color-menuItemText: #3a3a2c;
  --color-menuItemTextHover: #2a2a20;
  --color-menuItemTextSelected: #5a7a3a;
  --color-menuItemTextHeader: #6a8a48;
  --color-menuBorder: #c8c4b4;
  --color-menuBorderHover: #6a8a48;
  --color-menuKeybindingText: #6a8a48;
  --color-menuAutoCompleteBackground: #e8e4d4;
  --color-menuAutoCompleteBackgroundHover: #d8d4c4;
  --color-menuAutoCompleteText: #5a5a4a;
  --color-menuAutoCompleteTextHeader: #6a8a48;
  --color-menuAutoCompleteItemText: #3a3a2c;
  --color-modalBackground: #f4f0e4;
  --color-modalBorder: #c8c4b4;
  --color-mobileHeaderBackground: #6a8a48;
  --color-mobileHeaderText: #f4f0e4;
  --color-mobileHeaderTextSubdued: #d8d4c4;
  --color-mobileHeaderTextHover: rgba(90, 122, 58, 0.15);
  --color-mobilePageBackground: #e8e4d4;
  --color-mobileNavBackground: #8a8878;
  --color-mobileNavItem: #f4f0e4;
  --color-mobileNavItemSelected: #d8e8a8;
  --color-mobileAccountShadow: #b8b4a4;
  --color-mobileAccountText: #6a8a48;
  --color-mobileTransactionSelected: #6a8a48;
  --color-mobileViewTheme: #6a8a48;
  --color-mobileConfigServerViewTheme: #5a7a38;
  --color-markdownNormal: #c8d8b8;
  --color-markdownDark: #a8c898;
  --color-markdownLight: #d8e8c8;
  --color-buttonMenuText: #5a5a4a;
  --color-buttonMenuTextHover: #5a5a4a;
  --color-buttonMenuBackground: transparent;
  --color-buttonMenuBackgroundHover: rgba(106, 138, 72, 0.25);
  --color-buttonMenuBorder: #a8a494;
  --color-buttonMenuSelectedText: #3a3820;
  --color-buttonMenuSelectedTextHover: #4a3820;
  --color-buttonMenuSelectedBackground: #d8c87a;
  --color-buttonMenuSelectedBackgroundHover: #c8b86a;
  --color-buttonMenuSelectedBorder: #d8c87a;
  --color-buttonPrimaryText: #f8f8f0;
  --color-buttonPrimaryTextHover: #f8f8f0;
  --color-buttonPrimaryBackground: #5a7a3a;
  --color-buttonPrimaryBackgroundHover: #4a6a2a;
  --color-buttonPrimaryBorder: #5a7a3a;
  --color-buttonPrimaryShadow: rgba(0, 0, 0, 0.2);
  --color-buttonPrimaryDisabledText: #a8a494;
  --color-buttonPrimaryDisabledBackground: #d8d4c4;
  --color-buttonPrimaryDisabledBorder: #d8d4c4;
  --color-buttonNormalText: #3a3a2c;
  --color-buttonNormalTextHover: #3a3a2c;
  --color-buttonNormalBackground: #d8d4c4;
  --color-buttonNormalBackgroundHover: #c8c4b4;
  --color-buttonNormalBorder: #a8a494;
  --color-buttonNormalShadow: rgba(0, 0, 0, 0.15);
  --color-buttonNormalSelectedText: #f8f8f0;
  --color-buttonNormalSelectedBackground: #6a8a48;
  --color-buttonNormalDisabledText: #8a8878;
  --color-buttonNormalDisabledBackground: #e8e4d4;
  --color-buttonNormalDisabledBorder: #c8c4b4;
  --color-calendarText: #2a2a20;
  --color-calendarBackground: #f4f0e4;
  --color-calendarItemText: #3a3a2c;
  --color-calendarItemBackground: #e8e4d4;
  --color-calendarSelectedBackground: #6a8a48;
  --color-buttonBareText: #3a3a2c;
  --color-buttonBareTextHover: #3a3a2c;
  --color-buttonBareBackground: transparent;
  --color-buttonBareBackgroundHover: rgba(106, 138, 72, 0.3);
  --color-buttonBareBackgroundActive: rgba(106, 138, 72, 0.5);
  --color-buttonBareDisabledText: #8a8878;
  --color-buttonBareDisabledBackground: transparent;
  --color-noticeBackground: #c8e8a8;
  --color-noticeBackgroundLight: #d8f0b8;
  --color-noticeBackgroundDark: #a8d888;
  --color-noticeText: #4a7a38;
  --color-noticeTextLight: #5a8a48;
  --color-noticeTextDark: #3a5a28;
  --color-noticeTextMenu: #5a8a48;
  --color-noticeBorder: #a8d888;
  --color-warningBackground: #e8e0a8;
  --color-warningText: #8a7a3a;
  --color-warningTextLight: #7a6a2a;
  --color-warningTextDark: #5a4a1a;
  --color-warningBorder: #c8b868;
  --color-errorBackground: #e8c8c8;
  --color-errorText: #8a4a3a;
  --color-errorTextDark: #5a2a1a;
  --color-errorTextDarker: #5a2a1a;
  --color-errorTextMenu: #8a4a3a;
  --color-errorBorder: #c87878;
  --color-upcomingBackground: #c8d8b8;
  --color-upcomingText: #4a5a38;
  --color-upcomingBorder: #c8c4b4;
  --color-formLabelText: #5a7a3a;
  --color-formLabelBackground: #d8e8c8;
  --color-formInputBackground: #f8f8f0;
  --color-formInputBackgroundSelected: #f4f0e4;
  --color-formInputBackgroundSelection: #6a8a48;
  --color-formInputBorder: #c8c4b4;
  --color-formInputTextReadOnlySelection: #f8f8f0;
  --color-formInputBorderSelected: #6a8a48;
  --color-formInputText: #3a3a2c;
  --color-formInputTextSelected: #1a1a14;
  --color-formInputTextPlaceholder: #8a8878;
  --color-formInputTextPlaceholderSelected: #6a6858;
  --color-formInputTextSelection: #f8f8f0;
  --color-formInputShadowSelected: #a8c878;
  --color-formInputTextHighlight: #6a8a48;
  --color-checkboxText: #3a3a2c;
  --color-checkboxBackgroundSelected: #6a8a48;
  --color-checkboxBorderSelected: #6a8a48;
  --color-checkboxShadowSelected: #8ab868;
  --color-checkboxToggleBackground: #c8c4b4;
  --color-checkboxToggleBackgroundSelected: #6a8a48;
  --color-checkboxToggleDisabled: #d8d4c4;
  --color-pillBackground: #e8e4d4;
  --color-pillBackgroundLight: #f4f0e4;
  --color-pillText: #5a5a4a;
  --color-pillTextHighlighted: #6a8a48;
  --color-pillBorder: #d8d4c4;
  --color-pillBorderDark: #c8c4b4;
  --color-pillBackgroundSelected: #6a8a48;
  --color-pillTextSelected: #f8f8f0;
  --color-pillBorderSelected: #5a7a38;
  --color-pillTextSubdued: #8a8878;
  --color-reportsRed: #a86a6a;
  --color-reportsBlue: #6a8aa8;
  --color-reportsGreen: #6a9a48;
  --color-reportsGray: #8a8a7a;
  --color-reportsLabel: #3a3a2c;
  --color-reportsInnerLabel: #f4f0e4;
  --color-reportsNumberPositive: #4a7a38;
  --color-reportsNumberNegative: #8a4a3a;
  --color-reportsNumberNeutral: #6a6858;
  --color-reportsChartFill: #6a9a48;
  --color-noteTagBackground: #c8d8b8;
  --color-noteTagBackgroundHover: #b8c8a8;
  --color-noteTagDefault: #c8d8b8;
  --color-noteTagText: #3a5a28;
  --color-budgetOtherMonth: #d8d4c4;
  --color-budgetCurrentMonth: #f4f0e4;
  --color-budgetHeaderOtherMonth: #e8e4d4;
  --color-budgetHeaderCurrentMonth: #e8e4d4;
  --color-floatingActionBarBackground: #6a8a48;
  --color-floatingActionBarBorder: #6a8a48;
  --color-floatingActionBarText: #f4f0e4;
  --color-tooltipText: #3a3a2c;
  --color-tooltipBackground: #f4f0e4;
  --color-tooltipBorder: #d8d4c4;
  --color-calendarCellBackground: #f4f0e4;
  --color-overlayBackground: rgba(0, 0, 0, 0.3);
}
